/* ---------------------------- General formatting */

.menu {
    margin: 0px;
    padding: 0px;
    margin-top: -2rem;
}

li {
    list-style: none;
}

#current {
    background-color: white;
    color: #444;
    border-top: 1px solid black;
}


/* ---------------------------- Menu button */

.dropbtn {
    background-color: rgba(128, 128, 128, 0.719);
    color: white;
    padding: 0px 0px;
    font-size: 1.1rem;
    line-height: 1.3rem;
    width: 90%;
    border: none;
    cursor: pointer;
    position: relative;
    font-family: 'Syne Mono', monospace;
    text-align: right;
    padding-right: 1rem;
}


/* ---------------------------- Menu container */

.dropdown {
    bottom: 0;
    padding: 0px;
    width: 100%;
    position: relative;
    display: inline-block;
}


/* ---------------------------- Dropdown content */

.dropdownContent {
    display: none;
    position: absolute;
    z-index: 2;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.756);
}

.dropdownContent a {
    font-family: 'Syne Mono', monospace;
    text-decoration: none;
    color: red;
    background-color: rgb(255, 247, 248);
    line-height: 1.5rem;
    font-size: 1rem;
    display: block;
    border-right: 3px red solid;
    margin: 1rem;
    text-align: right;
    padding-right: 1rem;
    letter-spacing: .1rem;
}


/* ---------------------------- Hover formatting */

.dropdownContent a:hover {
    color: white;
    background-color: rgba(128, 128, 128, 0.719);
}

.dropdown:hover .dropbtn {
    background-color: grey;
}


/* ---------------------------- Hover show */

.dropdown:hover .dropdownContent {
    display: block;
}